@tailwind base;
@tailwind components;
@tailwind utilities;

.fullHeight {
  height: 100vh;
}

.borderHeadshot {
  border: 7px solid var(--black);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 22vw;
}

.mediumHeader {
  font-size: clamp(2rem, 5vw, 4rem);
  font-style: normal;
  font-weight: 900;
  line-height: clamp(2rem, 5vw, 4rem);
}

.mediumResumeHeader-thin {
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 3vw; /* 110% */
}

.largeHeader {
  font-size: 7vw;
  font-style: normal;
  font-weight: 900;
  line-height: 7vw;
}

.header {
  font-size: clamp(2rem, 2vw, 3rem);
  font-style: normal;
  font-weight: 900;
  line-height: clamp(2rem, 2vw, 3rem);
}

.header-thin {
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2vw; /* 110% */
}

.normalText-Bold {
  color: #000000;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(1.5rem, 2vw, 3rem); /* 110% */
}

.normalText {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.5rem, 2vw, 3rem); /* 110% */
}

.smallText {
  color: #000000;
  font-size: clamp(1rem, 1vw, 2rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1rem, 1vw, 2rem);
}

.redShadow {
  box-shadow: -14px 14px 0px 0px #fe1e1a;
}

.blueShadow {
  box-shadow: 14px -14px 0px 0px #16d3e6;
}

.resumeList {
  list-style-type: disc;
}

.pollAppLogo {
  color: #febf10;
  text-align: center;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000,
    -4px 4px 0px #000000;
  /* Title/Header 1 */
  font-size: clamp(2rem, 5vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
